<!DOCTYPE html>
  <body>
    <h1>Sample App</h1>
    <p>
      This is the home pages for Fletcher's search engine (thesis).
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    </p>
  </body>
